.posts {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 1em 2em;
  margin: 0 1em;
  border-radius: 5px;
}

.post {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.post:last-child {
  border-bottom: none;
}

.post .controls {
  display: flex;
  flex-direction: row;
}

.post .title {
  font-size: 1.1em;
  cursor: pointer;
}

.post .controls .icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}
